In [85]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

# For tree graph
from graphviz import Source
from IPython.display import SVG
from IPython.display import display

In [84]:
train_df = pd.read_csv('data/dogs_and_cats/train.csv')
test_df = pd.read_json('data/dogs_and_cats/test.txt')

In [70]:
dc_data = pd.concat([train_df, test_df], sort=False) 
dc_data = dc_data.rename(columns={'Длина': 'lenth',
                                 'Высота': 'height',
                                 'Шерстист': 'fleece',
                                 'Гавкает': 'barking',
                                 'Лазает по деревьям': 'tree_climber',
                                 'Вид': 'type'})

In [71]:
dc_data.type.unique()

array(['собачка', 'котик', nan], dtype=object)

In [72]:
type_map = {'собачка': 1, 'котик': 0}
dc_data.type = dc_data.type.fillna('unknow')
dc_data.type = dc_data.type.map(type_map)

In [73]:
dc_data.head()

   lenth  height  fleece  barking  tree_climber  type
0     15    18.0       1        1             0   1.0
1     20    24.0       1        0             0   1.0
2     34    40.8       1        1             0   1.0
3     26    31.2       1        1             0   1.0
4     16    19.2       1        1             0   1.0

In [74]:
train_row_num = train_data.shape[0]
train_data = dc_data[:train_row_num]
test_data = dc_data[train_row_num:]

X_train = train_data.drop('type', axis=1)
y_train = train_data[['type']]
X_test = test_data.drop('type', axis=1)

In [75]:
clf = DecisionTreeClassifier(criterion='entropy', random_state=42, max_depth=3)
clf.fit(X_train, y_train)
y_predict = clf.predict(X_test)

y_predict

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [76]:
y_predict.sum()

59.0