In [22]:
import os

# data
import pandas as pd
import numpy as np

# visualisation
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

# sklearn
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import KFold, LeavePOut, LeaveOneOut, \
    ShuffleSplit, StratifiedKFold, StratifiedShuffleSplit, GroupKFold, \
    train_test_split
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from scipy import stats

### Load Data

In [3]:
os.getcwd()

'C:\\Users\\altuhov.n.a\\PycharmProjects\\ML\\kaggle_competitions\\house_price_prediction'

In [7]:
train_df = pd.read_csv(r'input/train.csv')
test_df = pd.read_csv(r'input/test.csv')
sample_submission_df = pd.read_csv(r'input/sample_submission.csv') # Пример предсказания

In [6]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [11]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [13]:
sample_submission_df.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [15]:
'SalePrice' in test_df.columns

False

### Data analyse

In [18]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values

    for name in summary['Name'].value_counts().index:
        summary.loc[summary['Name'] == name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2),2) 

    return summary

In [19]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [25]:
resumetable(train_df)

Dataset Shape: (1460, 81)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value,Entropy
0,Id,int64,0,1460,1,2,3,10.51
1,MSSubClass,int64,0,15,60,20,60,2.92
2,MSZoning,object,0,5,RL,RL,RL,1.00
3,LotFrontage,float64,259,110,65,80,68,5.77
4,LotArea,int64,0,1073,8450,9600,11250,9.70
5,Street,object,0,2,Pave,Pave,Pave,0.04
6,Alley,object,1369,2,NaN,NaN,NaN,0.99
7,LotShape,object,0,4,Reg,Reg,IR1,1.14
8,LandContour,object,0,4,Lvl,Lvl,Lvl,0.63
9,Utilities,object,0,2,AllPub,AllPub,AllPub,0.01
10,LotConfig,object,0,5,Inside,FR2,Inside,1.22
11,LandSlope,object,0,3,Gtl,Gtl,Gtl,0.34
12,Neighborhood,object,0,25,CollgCr,Veenker,CollgCr,4.19
13,Condition1,object,0,9,Norm,Feedr,Norm,0.90
14,Condition2,object,0,8,Norm,Norm,Norm,0.11
15,BldgType,object,0,5,1Fam,1Fam,1Fam,0.94
16,HouseStyle,object,0,8,2Story,1Story,2Story,1.86
17,OverallQual,int64,0,10,7,6,7,2.49
18,OverallCond,int64,0,9,5,8,5,1.93
19,YearBuilt,int64,0,112,2003,1976,2001,6.27
20,YearRemodAdd,int64,0,61,2003,1976,2002,5.34
21,RoofStyle,object,0,6,Gable,Gable,Gable,0.90
22,RoofMatl,object,0,8,CompShg,CompShg,CompShg,0.17
23,Exterior1st,object,0,15,VinylSd,MetalSd,VinylSd,2.73
24,Exterior2nd,object,0,16,VinylSd,MetalSd,VinylSd,2.81
25,MasVnrType,object,8,4,BrkFace,None,BrkFace,1.35
26,MasVnrArea,float64,8,327,196,0,162,4.26
27,ExterQual,object,0,4,Gd,TA,Gd,1.19
28,ExterCond,object,0,5,TA,TA,TA,0.63
29,Foundation,object,0,6,PConc,CBlock,PConc,1.52
...,...,...,...,...,...,...,...,...
51,BedroomAbvGr,int64,0,8,3,3,3,1.71
52,KitchenAbvGr,int64,0,4,1,1,1,0.29
53,KitchenQual,object,0,4,Gd,TA,Gd,1.43
54,TotRmsAbvGrd,int64,0,12,8,6,6,2.69
55,Functional,object,0,7,Typ,Typ,Typ,0.51
56,Fireplaces,int64,0,4,0,1,1,1.35
57,FireplaceQu,object,690,5,NaN,TA,TA,1.52
58,GarageType,object,81,6,Attchd,Attchd,Attchd,1.35
59,GarageYrBlt,float64,81,97,2003,1976,2001,6.10
60,GarageFinish,object,81,3,RFn,RFn,RFn,1.55
61,GarageCars,int64,0,5,2,2,2,1.60
62,GarageArea,int64,0,441,548,460,608,7.75
63,GarageQual,object,81,5,TA,TA,TA,0.34
64,GarageCond,object,81,5,TA,TA,TA,0.29
65,PavedDrive,object,0,3,Y,Y,Y,0.48
66,WoodDeckSF,int64,0,274,0,298,0,4.44
67,OpenPorchSF,int64,0,202,61,0,42,4.83
68,EnclosedPorch,int64,0,120,0,0,0,1.52
69,3SsnPorch,int64,0,20,0,0,0,0.19
70,ScreenPorch,int64,0,76,0,0,0,0.87
71,PoolArea,int64,0,8,0,0,0,0.06
72,PoolQC,object,1453,3,NaN,NaN,NaN,1.56
73,Fence,object,1179,4,NaN,NaN,NaN,1.58
74,MiscFeature,object,1406,4,NaN,NaN,NaN,0.59
75,MiscVal,int64,0,21,0,0,0,0.36
76,MoSold,int64,0,12,2,5,9,3.37
77,YrSold,int64,0,5,2008,2007,2008,2.29
78,SaleType,object,0,9,WD,WD,WD,0.78
79,SaleCondition,object,0,6,Normal,Normal,Normal,0.97
80,SalePrice,int64,0,663,208500,181500,223500,8.85

In [ ]:
columns